<h1>Country Select Examples</h1>


<p>
  <%= link_to "<pre>country_select #{CountrySelect::VERSION}</pre>".html_safe, 'https://github.com/countries/country_select' %>
  <%= link_to "<pre>countries #{Countries::VERSION}</pre>".html_safe, 'https://github.com/countries/countries' %>
<p>

<h2>Vanilla Form using <code>form_with</code></h2>
<%= render "vanilla_form" %>

<h2>Formtastic</h2>
<%= render "formtastic_form" %>

<h2>Simple Form</h2>
<%= render "simple_form_form" %>
